<div class="outer-container">
  <div class="header">
    <img class="logo-img" src="http://localhost:3000/whatsapp-image-20221222-at-923-3@2x.png">
     <a *ngFor="let menu of menus" (click)="selectedLink(menu?.link)" >{{menu?.name}}</a>
    <button class="logo-btn" [matMenuTriggerFor]="profile">{{user}}</button>
    <mat-menu #profile="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Logout</button>
      <button mat-menu-item>Notification</button>
    </mat-menu>
  </div>
</div>
