<div *ngIf="selectedMenu==1">
  <p>client</p>
  <div class="container" style="padding: 300px;text-align: center;">
    <button style="padding: 5%;width: 40%;"  class="btn btn-success" (click)="login()">Login</button><br><br>
  </div>
</div>
<div *ngIf="selectedMenu==2">
  <p>sub-user</p>
  <div class="container" style="padding: 300px;text-align: center;">
    <button style="padding: 5%;width: 40%;"  class="btn btn-success" (click)="login()">Login</button><br><br>
  </div>
</div>
<div *ngIf="selectedMenu==3">
  <p>super-admin</p>
  <div class="container" style="padding: 300px;text-align: center;">
    <button style="padding: 5%;width: 40%;"  class="btn btn-success" (click)="login()">Login</button><br><br>
  </div>
</div>



